body {
    background: #0d1b2a;
    color: #e0e1dd;
}

a {
    color: #778da9;
    text-decoration: none;
}

a:hover {
    color: #415a77;
}

h1 {
    font-family: 'Source Sans Pro', cursive;
}

p {
    font-family: 'Baloo Tammudu 2', cursive;
}

span.italic {
    font-style: italic;
}

.header-link {
    text-decoration: none;
    color: #e0e1dd;
}

.header-link:hover {
    text-decoration: none;
    color: #e0e1dd;
}

.alert-fixed {
    display: none;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:9999;
    border-radius:0px
}

.the-result {
    display: none;
}

.secret-container {
    width: 80%;
}

.payload, .revealed-payload {
    margin-bottom: 10px;
    resize: none;
}

.secret-url-container .col {
    display: block !important;
    text-align: center;
}

.secret-url {
    padding: 20px;
    width: 100%;
    cursor: default;
    font-size: 11px;
}

@media only screen and (min-width: 500px) {
    .secret-url-container .col {
        display: flex !important;
    }

    .secret-url {
        width: 400px;
        font-size: 16px;
    }
}

.highlight {
    color: #D3E69C;
}

.copy-button {
    margin-left: -20px;
}

.footer p {
    font-size: 12px;
    margin: 0;
}

@media only screen and (min-width: 500px) {
    .footer p {
        font-size: 14px;
    }
}
